.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

.container nav {
  list-style: none;
  line-height: 3; 
  color: red; 
  border: 2px solid green;
  align-items: space-between;
}
.container nav link {
  margin: 2rem;
  border: 5px dashed blue;
}
/* .nav-bar::after{
  content: unset;
  display: flex;
  flex-direction: column;
  line-height: 3;
} */
