.nav-bar{
    color: red;
    border: 2px solid green;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: space-between;
    list-style: none;
    margin: 10px;
  
  }